{:tasks {:init (do
                 (def classes-dir "target/classes")
                 (def target-dir "target")
                 (def sass-dir "sass")
                 (def css-file "target/app.css")
                 (def jar-file "target/foo.jar")
                 (defn java-files []
                   (fs/glob "src" "**.java"))
                 (defn sass-files []
                   (fs/glob sass-dir "**.scss")))
         -classes-dir {:task (fs/create-dirs classes-dir)}
         classes {:depends [-classes-dir]
                  :task (when-let [modified (fs/modified-since classes-dir (java-files))]
                          (apply shell "javac" "-d" classes-dir modified))}
         -target-dir (fs/create-dirs classes-dir)
         css {:depends [-target-dir]
              :task (when-let [modified (fs/modified-since css-file (sass-files))]
                      (apply shell {:out css-file} "sassc" modified))}
         ;; what if I want to clean globally?
         jar {:depends [-target-dir classes css]
              :task (when-let [modified
                               (seq (concat (fs/modified-since jar-file (sass-files))
                                            (fs/modified-since jar-file (fs/glob classes-dir "**"))))]
                      (if (fs/exists? jar-file)
                        (apply shell "jar uf" jar-file modified)
                        (shell "jar cf" jar-file classes-dir)))}
         clean (when (fs/exists? target-dir)
                 (fs/delete-tree target-dir)
                 nil)}}
